<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eg">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_avater"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_avater"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="n">
        <activity
            android:name=".ui.activity.CalculateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity2" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenThemse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Arms 配置 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>

</manifest>